@model List<CMCS.Mvc.Models.Claim>
<h3>Claim Status</h3>
@if (TempData["msg"] != null)
{
     <div class="alert alert-success">@TempData["msg"]</div>
}

<form method="get" class="d-flex mb-2">
    <input name="q" class="form-control me-2" placeholder="Search month/status/description..." value="@ViewBag.Query" />
    <button class="btn btn-outline-primary">Search</button>
</form>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>LecturerId</th>
            <th>Month</th>
            <th>Hours</th>
            <th>Rate</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Submitted</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.ClaimId</td>
                <td>@c.LecturerId</td>
                <td>@c.Month</td>
                <td>@c.HoursWorked</td>
                <td>@c.HourlyRate</td>
                <td>@c.TotalAmount</td>
                <td>@c.Status</td>
                <td>@c.SubmissionDate.ToString("yyyy-MM-dd HH:mm")</td>
            </tr>
        }
    </tbody>
</table>
